build/
cypress/fixtures/
cypress/plugins/
cypress/support/
cypress/videos/
public/audio/
public/descriptions/
public/sounds.json
public/info-*.txt
originals/
node_modules/
shell.nix
yarn.lock
tsconfig.tsbuildinfo
