build/
cypress/fixtures/
cypress/plugins/
cypress/support/
cypress/videos/
data/audio/
data/descriptions/
data/sounds.json
data/info-*.txt
node_modules/
shell.nix
yarn.lock
tsconfig.tsbuildinfo
package-lock.json
