:root {
    --borders: 10px;
    --sound-tracks-height: 40vh;
    --controls-height: 10vh;
    --sound-menu-height: 40vh;
    --description-height: 20vh;
    --sound-menu-width: 25vw;
    --description-width: 40vw;
    --description-margin: 10vw;
    --vpadding: 2.5vh;
    --hpadding: 2.5vw;
    --tracks-num: 8;
    --font-size: 3vh;
}


@media all and (orientation:portrait) {
    :root {
        --sound-tracks-height: 30vh;
        --sound-menu-height: 50vh;
        --description-height: 20vh;
        --sound-menu-width: 45vw;
        --description-width: 35vw;
        --description-margin: 5vw;
        --font-size: 2vh;
    }
}


html {
    background: #afa;
    padding: var(--vpadding);
    padding-left: var(--hpadding); padding-right: var(--hpadding);
    margin: 0;
}


body {
    background: #fffff0;
    margin: 0;
    font-size: var(--font-size);
    padding: var(--vpadding);
    padding-left: var(--hpadding); padding-right: var(--hpadding);
    border-bottom-left-radius: var(--hpadding) var(--vpadding);
    border-top-left-radius: var(--hpadding) var(--vpadding);
    border-top-right-radius: var(--hpadding) var(--vpadding);
}


#sound-tracks {
    position: relative;
    background: #cfc;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: calc(var(--sound-tracks-height) - var(--borders));
    border: calc(var(--borders) / 2)  #555 outset;
    border-top-left-radius: var(--hpadding) var(--vpadding);
    border-top-right-radius: var(--hpadding) var(--vpadding);
}


#cursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: .3%;
    background: rgba(200, 200, 200, 0.7);
    animation: moving-cursor linear paused;
    z-index: 1;
}

@keyframes moving-cursor {
    100% { left: 100%; }
}

.track {
    flex-grow: 1;
    position: relative;
    z-index: 0;
}

.track .sound {
    border-top-right-radius: var(--borders);
}

#controls {
   display: flex;
   justify-content: space-between;
   margin-top: 1vh;
   height: calc(var(--controls-height) - 1vh);
}


#input-start, #input-duration {
    width: 4em;
    text-align: center;
}

#menu-et-description {
    display: flex;
    align-items: flex-start;
}

#sound-menu {
    display: inline-block;
    background: #cfc;
    overflow-y: scroll;
    scrollbar-width: 1rem;
    width: calc(var(--sound-menu-width) - var(--borders));
    height: calc(var(--sound-menu-height) - var(--borders));
    border: calc(var(--borders) / 2) #777 inset;
    border-bottom-left-radius: var(--hpadding) var(--vpadding);
}

#sound-menu .sound {
    position: relative;
}

.sound audio {
    /*Fit to #sound-menu */
    width: calc(var(--sound-menu-width) - 2.4em - 4px);
}

#description {
    display: inline-block;
    margin-left: var(--description-margin);
    padding: .5em;
    background: #cfc;
    font-size: 0.9em;
    overflow-y: scroll;
    width:  calc(var(--description-width) - var(--borders));
    height: calc(var(--description-height) - var(--borders));;
    border: calc(var(--borders) / 2) #777 inset;
}


/* To be used by a search function */
#sound-menu .sound:not([id^='sound-']) { display: none; }

.sound {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    background: #cb9;
    color: black;
    overflow: visible;
    height: calc(var(--sound-tracks-height) / var(--tracks-num));
    border: 1px solid black;
    white-space: nowrap;
    cursor: pointer;
    touch-action: none;
}

.sound:focus {
    background: rgb(224, 208, 144, 0.8);
}

.sound.no-audio {
    background: #ea9;
    touch-action: auto;
}

.sound.no-audio:focus {
    background: rgb(240, 176, 160, 0.8);
}

.sound.clone {
    cursor: grab;
    opacity: 0.6;
    width: var(--sound-menu-width);
    border-width: 2px;
    border-color: red;
    touch-action: none;
}

.sound input {
    width: 1.2em;
    margin: 0.1em;
}

.sound select {
    background: transparent;
    border: 1px solid #888;
    border-radius: .5em;
}

audio {
    position: absolute;
    height: 100%;
}


#track1 { background: red; }
#track2 { background: orange; }
#track3 { background: yellow; }
#track4 { background: green; }
#track5 { background: cyan; }
#track6 { background: blue; }
#track7 { background: purple; }
#track8 { background: magenta; }
