<template>
  <div id="info-overlay"></div>

  <button id="info-toggle">
    <svg class="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="50" />
      <text class="eraser" font-family="Nobile" font-size="80px" font-weight="bold" x="30" y="85">?</text>
    </svg>
    <svg class="active-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <text font-family="Nobile" font-size="80px" font-weight="bold" x="25" y="85">X</text>
    </svg>
  </button>

  <button id="fullscreen-toggle">
    <svg class="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <polygon points="0,0 0, 100 100,100 100, 0"/>
      <polygon class="eraser" points="20,20 20, 80 80,80 80,20"/>
      <polygon class="eraser" points="60,0 60,100 40,100 40,0"/>
      <polygon class="eraser" points="0,60 100,60 100,40 0,40"/>
    </svg>
    <svg class="active-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <polygon points="0,0 0, 100 100,100 100, 0"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="100,100 100,80 80,80 80,100"/>
      <polygon class="eraser" points="0,100 0,80 20,80 20,100"/>
      <polygon class="eraser" points="100,0 80,0 80,20 100,20"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="60,0 60,100 40,100 40,0"/>
      <polygon class="eraser" points="0,60 100,60 100,40 0,40"/>
    </svg>
  </button>
</template>
