<template>
  <button id="fullscreen-toggle">
    <svg class="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <polygon points="0,0 0, 100 100,100 100, 0"/>
      <polygon class="eraser" points="20,20 20, 80 80,80 80,20"/>
      <polygon class="eraser" points="60,0 60,100 40,100 40,0"/>
      <polygon class="eraser" points="0,60 100,60 100,40 0,40"/>
    </svg>
    <svg class="active-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <polygon points="0,0 0, 100 100,100 100, 0"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="100,100 100,80 80,80 80,100"/>
      <polygon class="eraser" points="0,100 0,80 20,80 20,100"/>
      <polygon class="eraser" points="100,0 80,0 80,20 100,20"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="0,0 0,20 20,20 20,0"/>
      <polygon class="eraser" points="60,0 60,100 40,100 40,0"/>
      <polygon class="eraser" points="0,60 100,60 100,40 0,40"/>
    </svg>
  </button>
</template>
