<template>
  <div id="left-controls">
    <button id="play-button" title="play/pause">
      <svg class="play-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 100,50"/>
      </svg>
      <svg class="pause-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 40,100 40,0"/>
        <polygon points="60,0 60,100 100,100 100,0"/>
      </svg>
    </button>
    <button id="stop-button" title="pause">
      <svg class="stop-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 100,100 100,0"/>
      </svg>
    </button>
    <p id="start-display"></p>
  </div>
  <p id="duration-display"></p>
</template>
