<template>
  <div id="left-controls">
    <button id="play-button" title="play/pause">
      <svg class="default-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 100,50"/>
      </svg>
      <svg class="active-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 40,100 40,0"/>
        <polygon points="60,0 60,100 100,100 100,0"/>
      </svg>
    </button>
    <button id="stop-button" title="pause">
      <svg class="stop-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 100 100">
        <polygon points="0,0 0,100 100,100 100,0"/>
      </svg>
    </button>
    <p>@ <number-input id="position-input"></number-input> s</p>
  </div>
  <p><number-input id="duration-input"></number-input> s</p>
</template>
