@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


:root {
    /* Update from JS. Fixes an inconsistency in some mobile browsers */
    --vh: 1vh;
    --borders: 10px;
    --tracks-height: calc(40 * var(--vh));
    --controls-height: calc(10 * var(--vh));
    --sound-menu-height: calc(40 * var(--vh));
    --description-height: calc(25 * var(--vh));
    --sound-menu-width: 25vw;
    --description-width: 40vw;
    --description-margin: 10vw;
    --padding: calc(2.5 * var(--vh));
    --tracks-num: 8;
    --sound-height: calc((var(--tracks-height) - var(--borders))
                         / var(--tracks-num) - 2px);
    --font-size: calc(0.75 * var(--sound-height));
    --cursor-width: .5%;
}


@media all and (orientation:portrait) {
    :root {
        --tracks-height: calc(41 * var(--vh) + 5 * var(--vh) - 5vw);
        --controls-height: calc(8 * var(--vh));
        --sound-menu-height: calc(41 * var(--vh) + 5 * var(--vh) - 5vw);
        --description-height: calc(30 * var(--vh));
        --sound-menu-width: 45vw;
        --description-width: 35vw;
        --description-margin: 5vw;
        --padding: 2.5vw;
        --font-size: calc(0.5 * var(--sound-height));
        --cursor-width: 1%;
    }
}


html {
    background: #7e7;
    padding: var(--padding);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}


body {
    background: #fffff0;
    margin: 0;
    font-family: 'Nobile', sans-serif;
    font-size: var(--font-size);
    padding: var(--padding);
    border-bottom-left-radius: var(--padding);
    border-top-left-radius: var(--padding);
    border-top-right-radius: var(--padding);
}


#player-tracks {
    position: relative;
    background: #4a4;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: calc(var(--tracks-height) - var(--borders));
    border: calc(var(--borders) / 2)  #555 outset;
    border-top-left-radius: var(--padding);
    border-top-right-radius: var(--padding);
}


#player-cursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--cursor-width);
    background: rgba(200, 200, 200, 0.7);
    transition-property: left;
    transition-timing-function: linear;
    z-index: 1;
}


.track {
    flex-grow: 1;
    position: relative;
    z-index: 0;
    overflow: hidden;
}


#player-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(1 * var(--vh));
    margin-bottom: calc(2 * var(--vh));
    font-size: 1rem;
    height: calc(var(--controls-height) - 3 * var(--vh));
}

#player-controls p {
    font-size: var(--font-size);
    margin-left: 2em;
}

#player-controls-left {
    display: inline-flex;
}


button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--controls-height) - 3 * var(--vh));
    width: calc(var(--controls-height) - 3 * var(--vh));
    min-width: calc(var(--controls-height) - 3 * var(--vh));
    background: transparent;
    border: 3px solid #555;
    border-radius: .5em;
    padding: 0;
    margin: 0;
    margin-right: 0.2em;
}

button:focus {
    background: #ccc;
}

svg {
    height: 55%;
    fill: #555;
    pointer-events: none;
}

.pause-icon, .playing .play-icon {
    display: none;
}

.playing .pause-icon {
    display: inline;
}


#menu-et-description {
    display: flex;
    align-items: flex-start;
}


#sound-menu {
    display: inline-block;
    background: #aaa;
    overflow-y: scroll;
    scrollbar-width: 1rem;
    width: calc(var(--sound-menu-width) - var(--borders));
    height: calc(var(--sound-menu-height) - var(--borders));
    border: calc(var(--borders) / 2) #777 inset;
    border-bottom-left-radius: var(--padding);
}


#sound-menu .sound {
    position: relative;
    width: calc(100% - 2px);
    overflow-x: hidden;
}


#description {
    display: inline-block;
    margin-left: var(--description-margin);
    padding: .5rem;
    background: #9f9;
    font-size: calc(0.9 * var(--font-size));
    overflow-y: auto;
    width:  calc(var(--description-width) - var(--borders));
    height: calc(var(--description-height) - var(--borders));
    border: calc(var(--borders) / 2) #777 inset;
}

#description h3, p {
    padding: 0;
    margin: 0;
    white-space: pre-line;
}

#description h3 {
    font-family: 'Cookie', cursive;
    font-size: calc(1.5 * var(--font-size));
    margin-bottom: 1rem;
}


#description button {
    float: right;
    display: none;
}

#description.audio button {
    display: flex;
}

/* To be used by a search function */
#sound-menu .sound:not([id^='sound-']) { display: none; }


.sound {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    font-size: var(--font-size);
    background: #cb9;
    color: black;
    overflow: visible;
    height: var(--sound-height);
    border: 1px solid black;
    white-space: nowrap;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}


.sound.active span {
    position: relative;
}

.sound.active button::after, .sound.active span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10%;
    left: -10%;
    background: #cb9;
    height: var(--font-size);
    z-index: -1;
    border-radius: 5px;
}

.sound.active:focus {
    z-index: 2;
}


.sound:focus,
.sound button:focus,
.sound.active:focus button::after,
.sound.active:focus span::after {
    background: rgb(224, 208, 144, 1);
    outline: none;
}


.sound.no-audio:focus {
    background: rgb(240, 176, 160, 1);
}


.sound.no-audio {
    background: #d98;
    touch-action: auto;
}

.sound.no-audio button {
    visibility: hidden;
}


.sound.clone, .sound.initial {
    cursor: grab;
    opacity: 0.6;
    width: calc(var(--sound-menu-width) - var(--borders) - 1rem - 2px);
    border-width: 2px;
    border-color: red;
    touch-action: none;
}


.sound button {
    position: relative;
    border-width: 1px;
    width: 1em;
    height: 80%;
    margin-left: .3em;
    margin-right: .3em;
}

.sound.active {
    border-top-right-radius: var(--borders);
    transition: width .5s;
}

.sound.active .plus-button {
    visibility: hidden;
}


#track1 { background: #f66; }
#track2 { background: #f84; }
#track3 { background: #ee0; }
#track4 { background: #7e7; }
#track5 { background: #5ee; }
#track6 { background: #6bf; }
#track7 { background: #c8f; }
#track8 { background: #f8e; }
