active-sound {
  border-top-right-radius: var(--borders);
  transition: width .3s;
}

active-sound:focus {
  z-index: 2;
}

active-sound span {
  position: relative;
}

active-sound button::after,
active-sound span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10%;
  left: -10%;
  background: #cb9;
  height: var(--font-size);
  z-index: -1;
  border-radius: 5px;
}

active-sound .button-vertical {
  visibility: hidden;
}
