description-display {
  display: inline-block;
  margin-left: var(--description-margin);
  padding: .5rem;
  background: #9f9;
  font-size: calc(0.9 * var(--font-size));
  overflow-y: auto;
  width:  calc(var(--description-width) - var(--borders));
  height: calc(var(--description-height) - var(--borders));
  border: calc(var(--borders) / 2) #777 inset;
}

description-display h3, description-display p {
  padding: 0;
  margin: 0;
  white-space: pre-line;
}

description-display h3 {
  font-family: 'Cookie', cursive;
  font-size: calc(1.5 * var(--font-size));
  margin-bottom: 1rem;
}


description-display button {
  float: right;
  display: none;
}

description-display[audio] button {
  display: flex;
}
