player-controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: calc(1 * var(--vh));
  margin-bottom: calc(2 * var(--vh));
  font-size: 1rem;
  height: calc(var(--controls-height) - 3 * var(--vh));
}

#left-controls {
  display: inline-flex;
}


player-controls p {
  font-size: var(--font-size);
  margin-left: 2em;
  margin-top: 0.2em;
}

player-controls input {
  font-size: var(--font-size);
  width: 2em;
  text-align: right;
  appearance: none;
  -moz-appearance: textfield;
  border-radius: 10px;
}

player-controls input::-webkit-outer-spin-button,
player-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
