sound-element, active-sound {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  font-size: var(--font-size);
  background: #cb9;
  color: black;
  overflow: visible;
  height: var(--sound-height);
  border: 1px solid black;
  white-space: nowrap;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  /* At the time of writing this, z-index is also used as an indicator
       for when the styles of a sound-element are loaded in
       constructing the sound-menu */
  z-index: 1;
}

sound-element.no-audio {
  background: #d98;
  touch-action: auto;
}

sound-element:focus,
sound-element button:focus,
active-sound:focus,
active-sound:focus button::after,
active-sound:focus span::after
{
  background: rgb(224, 208, 144, 1);
  outline: none;
}

sound-element button:focus {
  border-width: 2px;
}

sound-element.no-audio:focus {
  background: rgb(240, 176, 160, 1);
}

sound-element.no-audio button {
  visibility: hidden;
}

sound-element.clone, active-sound.setting-buffer {
  cursor: grab;
  opacity: 0.6;
  width: calc(var(--sound-menu-width) - var(--borders) - 1rem - 2px);
  border-width: 2px;
  border-color: red;
  touch-action: none;
}

sound-element.clone, active-sound.clone {
  z-index: 3;
}

sound-element.initializing {
  visibility: hidden;
}

sound-element button, active-sound button {
  cursor: pointer;
  position: relative;
  border-width: 1px;
  width: 1em;
  height: 80%;
  margin-left: .3em;
  margin-right: .3em;
}
